*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
header{
    background-color: rgb(183, 169, 169);
    text-align: center;
    padding: 25px;
    margin: 0px;
}
.navbar{
    background-color:rgb(113, 102, 107);
    height: 50px;
}
aside{
    width: 20%;
    float:left;
    padding: 10px;
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}
article{
    width: 40%;
    float: right;
    padding: 10px;;
}
footer{
    background-color: rgb(71, 63, 63);
    text-align: center;
    display: block;
    clear: both;
    padding: 5px;
}
@media screen and (max-width:600px){
    aside, section, article{
        width: 100%;
    }
    
}

